.quiz-card {
  display: flex;
  max-width: 20rem;
  height: 30rem;
  background-color: var(--white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.quiz-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
  background-color: var(--white);
}

h2 {
  font-size: 1.2rem;
  font-family: 'MuseoModerno', cursive;
  font-weight: 800;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  color: var(--blue);
}

.play-button {
  padding: 0.5rem 1rem;
  font-family: 'MuseoModerno', cursive;
  font-size: 1.2rem;
  color: var(--darkblue);
  background-color: var(--yellow);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background-color: var(--orange);
}

.play-button:active {
  position: relative;
  top: 0.1rem;
}
